@tailwind base;
@tailwind components;
@tailwind utilities;

/*light mode*/
:root {
  --color-primary: #ff0000;
}

@media (prefers-color-scheme: dark) {
  /*dark mode*/
  :root {
    --color-primary: #0055ff;
  }
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
