@tailwind base;
@tailwind components;
@tailwind utilities;

/*light mode*/
:root {
  --color-primary: #ff0000;
}

.custom-gradient {
  @apply bg-gradient-to-r;
  background: linear-gradient(182.35deg, #223974 1.97%, #374e88 98.03%);
}

@media (prefers-color-scheme: dark) {
  /*dark mode*/
  :root {
    --color-primary: #0055ff;
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
